Repository otunba-ola01/thinkcaring-y6iwvx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thinkcaring/lead-developers, @thinkcaring/backend-team, @thinkcaring/backend-leads, @thinkcaring/integration-specialists, @thinkcaring/frontend-team, @thinkcaring/ui-team, @thinkcaring/frontend-leads, @thinkcaring/devops-team, @thinkcaring/security-team, @thinkcaring/documentation-team, @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/backend/integrations/adapters/ehr.adapter.ts
  src/backend/integrations/adapters/ehr.adapter.ts
Owners: @thinkcaring/integration-specialists

Add public-samples/thinkcaring-y6iwvx/src/backend/integrations/adapters/medicaid.adapter.ts
  src/backend/integrations/adapters/medicaid.adapter.ts
Owners: @thinkcaring/integration-specialists

Add public-samples/thinkcaring-y6iwvx/src/backend/integrations/adapters/remittance.adapter.ts
  src/backend/integrations/adapters/remittance.adapter.ts
Owners: @thinkcaring/integration-specialists

Add public-samples/thinkcaring-y6iwvx/src/backend/integrations/transformers/accounting.transformer.ts
  src/backend/integrations/transformers/accounting.transformer.ts
Owners: @thinkcaring/integration-specialists

Add public-samples/thinkcaring-y6iwvx/src/backend/integrations/transformers/clearinghouse.transformer.ts
  src/backend/integrations/transformers/clearinghouse.transformer.ts
Owners: @thinkcaring/integration-specialists

Add public-samples/thinkcaring-y6iwvx/src/backend/integrations/transformers/ehr.transformer.ts
  src/backend/integrations/transformers/ehr.transformer.ts
Owners: @thinkcaring/integration-specialists

Add public-samples/thinkcaring-y6iwvx/src/backend/integrations/transformers/medicaid.transformer.ts
  src/backend/integrations/transformers/medicaid.transformer.ts
Owners: @thinkcaring/integration-specialists

Add public-samples/thinkcaring-y6iwvx/src/backend/integrations/transformers/remittance.transformer.ts
  src/backend/integrations/transformers/remittance.transformer.ts
Owners: @thinkcaring/integration-specialists

Add public-samples/thinkcaring-y6iwvx/src/backend/middleware/audit.middleware.ts
  src/backend/middleware/audit.middleware.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/middleware/auth.middleware.ts
  src/backend/middleware/auth.middleware.ts
Owners: @thinkcaring/security-team

Add public-samples/thinkcaring-y6iwvx/src/backend/middleware/cors.middleware.ts
  src/backend/middleware/cors.middleware.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/middleware/error.middleware.ts
  src/backend/middleware/error.middleware.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/middleware/index.ts
  src/backend/middleware/index.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/middleware/logger.middleware.ts
  src/backend/middleware/logger.middleware.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/middleware/rateLimiter.middleware.ts
  src/backend/middleware/rateLimiter.middleware.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/middleware/transaction.middleware.ts
  src/backend/middleware/transaction.middleware.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/middleware/validation.middleware.ts
  src/backend/middleware/validation.middleware.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/models/audit.model.ts
  src/backend/models/audit.model.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/models/authorization.model.ts
  src/backend/models/authorization.model.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/models/claim.model.ts
  src/backend/models/claim.model.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/models/client.model.ts
  src/backend/models/client.model.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/models/document.model.ts
  src/backend/models/document.model.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/models/facility.model.ts
  src/backend/models/facility.model.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/models/index.ts
  src/backend/models/index.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/models/notification.model.ts
  src/backend/models/notification.model.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/models/payer.model.ts
  src/backend/models/payer.model.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/models/payment.model.ts
  src/backend/models/payment.model.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/models/permission.model.ts
  src/backend/models/permission.model.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/models/program.model.ts
  src/backend/models/program.model.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/models/report.model.ts
  src/backend/models/report.model.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/models/role.model.ts
  src/backend/models/role.model.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/models/service.model.ts
  src/backend/models/service.model.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/models/setting.model.ts
  src/backend/models/setting.model.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/models/staff.model.ts
  src/backend/models/staff.model.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/models/user.model.ts
  src/backend/models/user.model.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/notifications/email-notification.ts
  src/backend/notifications/email-notification.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/notifications/in-app-notification.ts
  src/backend/notifications/in-app-notification.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/notifications/index.ts
  src/backend/notifications/index.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/notifications/notification-manager.ts
  src/backend/notifications/notification-manager.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/notifications/sms-notification.ts
  src/backend/notifications/sms-notification.ts
Owners: @thinkcaring/backend-team

.github/CODEOWNERS:

# Owners will be automatically requested for review on pull requests that modify code they own.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners who will be requested for review on all pull requests
* @thinkcaring/lead-developers

# Backend code ownership rules, with specialized teams for services and integrations
/src/backend/ @thinkcaring/backend-team
/src/backend/services/ @thinkcaring/backend-leads
/src/backend/integrations/ @thinkcaring/integration-specialists

# Frontend code ownership rules, with specialized teams for UI components and pages
/src/web/ @thinkcaring/frontend-team
/src/web/src/components/ @thinkcaring/ui-team
/src/web/src/pages/ @thinkcaring/frontend-leads

# Infrastructure and CI/CD pipeline ownership rules
/infrastructure/ @thinkcaring/devops-team
/.github/workflows/ @thinkcaring/devops-team
/docker-compose.yml @thinkcaring/devops-team

# Security-sensitive code requiring specialized review
/src/backend/security/ @thinkcaring/security-team @thinkcaring/backend-leads
/src/backend/middleware/auth.middleware.ts @thinkcaring/security-team
/src/web/src/context/AuthContext.tsx @thinkcaring/security-team

# Documentation ownership rules
*.md @thinkcaring/documentation-team
/src/backend/docs/ @thinkcaring/backend-team @thinkcaring/documentation-team
/src/web/README.md @thinkcaring/frontend-team @thinkcaring/documentation-team

# Configuration files requiring careful review
package.json @thinkcaring/lead-developers
tsconfig.json @thinkcaring/lead-developers
.env.example @thinkcaring/devops-team @thinkcaring/security-team

# Test code ownership rules
/src/backend/tests/ @thinkcaring/qa-team @thinkcaring/backend-team
/src/web/src/tests/ @thinkcaring/qa-team @thinkcaring/frontend-team
/src/web/cypress/ @thinkcaring/qa-team
