Repository otunba-ola01/thinkcaring-y6iwvx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thinkcaring/lead-developers, @thinkcaring/backend-team, @thinkcaring/backend-leads, @thinkcaring/integration-specialists, @thinkcaring/frontend-team, @thinkcaring/ui-team, @thinkcaring/frontend-leads, @thinkcaring/devops-team, @thinkcaring/security-team, @thinkcaring/documentation-team, @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/components/ui/ConfirmDialog.tsx
  src/web/src/components/ui/ConfirmDialog.tsx
Owners: @thinkcaring/ui-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/components/ui/DataTable.tsx
  src/web/src/components/ui/DataTable.tsx
Owners: @thinkcaring/ui-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/components/ui/DateRangePicker.tsx
  src/web/src/components/ui/DateRangePicker.tsx
Owners: @thinkcaring/ui-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/components/ui/EmptyState.tsx
  src/web/src/components/ui/EmptyState.tsx
Owners: @thinkcaring/ui-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/components/ui/ErrorBoundary.tsx
  src/web/src/components/ui/ErrorBoundary.tsx
Owners: @thinkcaring/ui-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/components/ui/FileUploader.tsx
  src/web/src/components/ui/FileUploader.tsx
Owners: @thinkcaring/ui-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/components/ui/FilterPanel.tsx
  src/web/src/components/ui/FilterPanel.tsx
Owners: @thinkcaring/ui-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/components/ui/MetricCard.tsx
  src/web/src/components/ui/MetricCard.tsx
Owners: @thinkcaring/ui-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/components/ui/Pagination.tsx
  src/web/src/components/ui/Pagination.tsx
Owners: @thinkcaring/ui-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/components/ui/SearchInput.tsx
  src/web/src/components/ui/SearchInput.tsx
Owners: @thinkcaring/ui-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/components/ui/Skeleton.tsx
  src/web/src/components/ui/Skeleton.tsx
Owners: @thinkcaring/ui-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/components/ui/StatusBadge.tsx
  src/web/src/components/ui/StatusBadge.tsx
Owners: @thinkcaring/ui-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/components/ui/Stepper.tsx
  src/web/src/components/ui/Stepper.tsx
Owners: @thinkcaring/ui-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/components/ui/Tabs.tsx
  src/web/src/components/ui/Tabs.tsx
Owners: @thinkcaring/ui-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/config/api.config.ts
  src/web/src/config/api.config.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/config/auth.config.ts
  src/web/src/config/auth.config.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/config/chart.config.ts
  src/web/src/config/chart.config.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/config/dashboard.config.ts
  src/web/src/config/dashboard.config.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/config/date.config.ts
  src/web/src/config/date.config.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/config/index.ts
  src/web/src/config/index.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/config/navigation.config.ts
  src/web/src/config/navigation.config.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/config/report.config.ts
  src/web/src/config/report.config.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/config/seo.config.ts
  src/web/src/config/seo.config.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/config/table.config.ts
  src/web/src/config/table.config.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/config/theme.config.ts
  src/web/src/config/theme.config.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/config/validation.config.ts
  src/web/src/config/validation.config.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/constants/api.constants.ts
  src/web/src/constants/api.constants.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/constants/auth.constants.ts
  src/web/src/constants/auth.constants.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/constants/claims.constants.ts
  src/web/src/constants/claims.constants.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/constants/dashboard.constants.ts
  src/web/src/constants/dashboard.constants.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/constants/index.ts
  src/web/src/constants/index.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/constants/navigation.constants.ts
  src/web/src/constants/navigation.constants.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/constants/payments.constants.ts
  src/web/src/constants/payments.constants.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/constants/reports.constants.ts
  src/web/src/constants/reports.constants.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/constants/routes.constants.ts
  src/web/src/constants/routes.constants.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/constants/services.constants.ts
  src/web/src/constants/services.constants.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/constants/ui.constants.ts
  src/web/src/constants/ui.constants.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/context/AuthContext.tsx
  src/web/src/context/AuthContext.tsx
Owners: @thinkcaring/security-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/context/FilterContext.tsx
  src/web/src/context/FilterContext.tsx
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/context/NotificationContext.tsx
  src/web/src/context/NotificationContext.tsx
Owners: @thinkcaring/frontend-team

.github/CODEOWNERS:

# Owners will be automatically requested for review on pull requests that modify code they own.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners who will be requested for review on all pull requests
* @thinkcaring/lead-developers

# Backend code ownership rules, with specialized teams for services and integrations
/src/backend/ @thinkcaring/backend-team
/src/backend/services/ @thinkcaring/backend-leads
/src/backend/integrations/ @thinkcaring/integration-specialists

# Frontend code ownership rules, with specialized teams for UI components and pages
/src/web/ @thinkcaring/frontend-team
/src/web/src/components/ @thinkcaring/ui-team
/src/web/src/pages/ @thinkcaring/frontend-leads

# Infrastructure and CI/CD pipeline ownership rules
/infrastructure/ @thinkcaring/devops-team
/.github/workflows/ @thinkcaring/devops-team
/docker-compose.yml @thinkcaring/devops-team

# Security-sensitive code requiring specialized review
/src/backend/security/ @thinkcaring/security-team @thinkcaring/backend-leads
/src/backend/middleware/auth.middleware.ts @thinkcaring/security-team
/src/web/src/context/AuthContext.tsx @thinkcaring/security-team

# Documentation ownership rules
*.md @thinkcaring/documentation-team
/src/backend/docs/ @thinkcaring/backend-team @thinkcaring/documentation-team
/src/web/README.md @thinkcaring/frontend-team @thinkcaring/documentation-team

# Configuration files requiring careful review
package.json @thinkcaring/lead-developers
tsconfig.json @thinkcaring/lead-developers
.env.example @thinkcaring/devops-team @thinkcaring/security-team

# Test code ownership rules
/src/backend/tests/ @thinkcaring/qa-team @thinkcaring/backend-team
/src/web/src/tests/ @thinkcaring/qa-team @thinkcaring/frontend-team
/src/web/cypress/ @thinkcaring/qa-team
