Repository otunba-ola01/thinkcaring-y6iwvx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thinkcaring/lead-developers, @thinkcaring/backend-team, @thinkcaring/backend-leads, @thinkcaring/integration-specialists, @thinkcaring/frontend-team, @thinkcaring/ui-team, @thinkcaring/frontend-leads, @thinkcaring/devops-team, @thinkcaring/security-team, @thinkcaring/documentation-team, @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/terraform/environments/production/main.tf
  infrastructure/terraform/environments/production/main.tf
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/terraform/modules/elasticache/main.tf
  infrastructure/terraform/modules/elasticache/main.tf
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/src/backend/.env.example
  src/backend/.env.example
Owners: @thinkcaring/devops-team, @thinkcaring/security-team

Add public-samples/thinkcaring-y6iwvx/src/backend/README.md
  src/backend/README.md
Owners: @thinkcaring/documentation-team

Add public-samples/thinkcaring-y6iwvx/src/backend/app.ts
  src/backend/app.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/package.json
  src/backend/package.json
Owners: @thinkcaring/lead-developers

Add public-samples/thinkcaring-y6iwvx/src/backend/server.ts
  src/backend/server.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @thinkcaring/lead-developers

Add public-samples/thinkcaring-y6iwvx/src/backend/batch/batch-manager.ts
  src/backend/batch/batch-manager.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/batch/claim-submission.batch.ts
  src/backend/batch/claim-submission.batch.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/batch/data-export.batch.ts
  src/backend/batch/data-export.batch.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/batch/data-import.batch.ts
  src/backend/batch/data-import.batch.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/batch/eligibility-verification.batch.ts
  src/backend/batch/eligibility-verification.batch.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/batch/index.ts
  src/backend/batch/index.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/batch/remittance-processing.batch.ts
  src/backend/batch/remittance-processing.batch.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/batch/report-generation.batch.ts
  src/backend/batch/report-generation.batch.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/config/auth.config.ts
  src/backend/config/auth.config.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/config/cors.config.ts
  src/backend/config/cors.config.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/config/database.config.ts
  src/backend/config/database.config.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/config/index.ts
  src/backend/config/index.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/config/logger.config.ts
  src/backend/config/logger.config.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/config/redis.config.ts
  src/backend/config/redis.config.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/config/swagger.config.ts
  src/backend/config/swagger.config.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/controllers/auth.controller.ts
  src/backend/controllers/auth.controller.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/controllers/billing.controller.ts
  src/backend/controllers/billing.controller.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/controllers/claims.controller.ts
  src/backend/controllers/claims.controller.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/controllers/clients.controller.ts
  src/backend/controllers/clients.controller.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/controllers/dashboard.controller.ts
  src/backend/controllers/dashboard.controller.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/controllers/index.ts
  src/backend/controllers/index.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/controllers/payments.controller.ts
  src/backend/controllers/payments.controller.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/controllers/reports.controller.ts
  src/backend/controllers/reports.controller.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/controllers/services.controller.ts
  src/backend/controllers/services.controller.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/controllers/settings.controller.ts
  src/backend/controllers/settings.controller.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/controllers/users.controller.ts
  src/backend/controllers/users.controller.ts
Owners: @thinkcaring/backend-team

.github/CODEOWNERS:

# Owners will be automatically requested for review on pull requests that modify code they own.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners who will be requested for review on all pull requests
* @thinkcaring/lead-developers

# Backend code ownership rules, with specialized teams for services and integrations
/src/backend/ @thinkcaring/backend-team
/src/backend/services/ @thinkcaring/backend-leads
/src/backend/integrations/ @thinkcaring/integration-specialists

# Frontend code ownership rules, with specialized teams for UI components and pages
/src/web/ @thinkcaring/frontend-team
/src/web/src/components/ @thinkcaring/ui-team
/src/web/src/pages/ @thinkcaring/frontend-leads

# Infrastructure and CI/CD pipeline ownership rules
/infrastructure/ @thinkcaring/devops-team
/.github/workflows/ @thinkcaring/devops-team
/docker-compose.yml @thinkcaring/devops-team

# Security-sensitive code requiring specialized review
/src/backend/security/ @thinkcaring/security-team @thinkcaring/backend-leads
/src/backend/middleware/auth.middleware.ts @thinkcaring/security-team
/src/web/src/context/AuthContext.tsx @thinkcaring/security-team

# Documentation ownership rules
*.md @thinkcaring/documentation-team
/src/backend/docs/ @thinkcaring/backend-team @thinkcaring/documentation-team
/src/web/README.md @thinkcaring/frontend-team @thinkcaring/documentation-team

# Configuration files requiring careful review
package.json @thinkcaring/lead-developers
tsconfig.json @thinkcaring/lead-developers
.env.example @thinkcaring/devops-team @thinkcaring/security-team

# Test code ownership rules
/src/backend/tests/ @thinkcaring/qa-team @thinkcaring/backend-team
/src/web/src/tests/ @thinkcaring/qa-team @thinkcaring/frontend-team
/src/web/cypress/ @thinkcaring/qa-team
