Repository otunba-ola01/thinkcaring-y6iwvx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thinkcaring/lead-developers, @thinkcaring/backend-team, @thinkcaring/backend-leads, @thinkcaring/integration-specialists, @thinkcaring/frontend-team, @thinkcaring/ui-team, @thinkcaring/frontend-leads, @thinkcaring/devops-team, @thinkcaring/security-team, @thinkcaring/documentation-team, @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/backend/services/reports/standard-reports.service.ts
  src/backend/services/reports/standard-reports.service.ts
Owners: @thinkcaring/backend-leads

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/e2e/api.e2e.test.ts
  src/backend/tests/e2e/api.e2e.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/e2e/claim-lifecycle.e2e.test.ts
  src/backend/tests/e2e/claim-lifecycle.e2e.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/e2e/payment-processing.e2e.test.ts
  src/backend/tests/e2e/payment-processing.e2e.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/e2e/reporting.e2e.test.ts
  src/backend/tests/e2e/reporting.e2e.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/e2e/workflows.e2e.test.ts
  src/backend/tests/e2e/workflows.e2e.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/fixtures/authorizations.fixtures.ts
  src/backend/tests/fixtures/authorizations.fixtures.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/fixtures/claims.fixtures.ts
  src/backend/tests/fixtures/claims.fixtures.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/fixtures/clients.fixtures.ts
  src/backend/tests/fixtures/clients.fixtures.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/fixtures/payers.fixtures.ts
  src/backend/tests/fixtures/payers.fixtures.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/fixtures/payments.fixtures.ts
  src/backend/tests/fixtures/payments.fixtures.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/fixtures/programs.fixtures.ts
  src/backend/tests/fixtures/programs.fixtures.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/fixtures/services.fixtures.ts
  src/backend/tests/fixtures/services.fixtures.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/fixtures/users.fixtures.ts
  src/backend/tests/fixtures/users.fixtures.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/integration/api.test.ts
  src/backend/tests/integration/api.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/integration/auth.test.ts
  src/backend/tests/integration/auth.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/integration/billing.test.ts
  src/backend/tests/integration/billing.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/integration/claims.test.ts
  src/backend/tests/integration/claims.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/integration/database.test.ts
  src/backend/tests/integration/database.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/integration/integrations.test.ts
  src/backend/tests/integration/integrations.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/integration/payments.test.ts
  src/backend/tests/integration/payments.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/integration/reports.test.ts
  src/backend/tests/integration/reports.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/unit/auth.test.ts
  src/backend/tests/unit/auth.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/unit/billing.test.ts
  src/backend/tests/unit/billing.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/unit/claims.test.ts
  src/backend/tests/unit/claims.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/unit/clients.test.ts
  src/backend/tests/unit/clients.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/unit/payments.test.ts
  src/backend/tests/unit/payments.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/unit/reports.test.ts
  src/backend/tests/unit/reports.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/unit/services.test.ts
  src/backend/tests/unit/services.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/unit/users.test.ts
  src/backend/tests/unit/users.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/unit/utils.test.ts
  src/backend/tests/unit/utils.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/unit/validation.test.ts
  src/backend/tests/unit/validation.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/tests/unit/workflow.test.ts
  src/backend/tests/unit/workflow.test.ts
Owners: @thinkcaring/qa-team, @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/types/api.types.ts
  src/backend/types/api.types.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/types/auth.types.ts
  src/backend/types/auth.types.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/types/billing.types.ts
  src/backend/types/billing.types.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/types/claims.types.ts
  src/backend/types/claims.types.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/types/clients.types.ts
  src/backend/types/clients.types.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/types/common.types.ts
  src/backend/types/common.types.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/types/database.types.ts
  src/backend/types/database.types.ts
Owners: @thinkcaring/backend-team

.github/CODEOWNERS:

# Owners will be automatically requested for review on pull requests that modify code they own.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners who will be requested for review on all pull requests
* @thinkcaring/lead-developers

# Backend code ownership rules, with specialized teams for services and integrations
/src/backend/ @thinkcaring/backend-team
/src/backend/services/ @thinkcaring/backend-leads
/src/backend/integrations/ @thinkcaring/integration-specialists

# Frontend code ownership rules, with specialized teams for UI components and pages
/src/web/ @thinkcaring/frontend-team
/src/web/src/components/ @thinkcaring/ui-team
/src/web/src/pages/ @thinkcaring/frontend-leads

# Infrastructure and CI/CD pipeline ownership rules
/infrastructure/ @thinkcaring/devops-team
/.github/workflows/ @thinkcaring/devops-team
/docker-compose.yml @thinkcaring/devops-team

# Security-sensitive code requiring specialized review
/src/backend/security/ @thinkcaring/security-team @thinkcaring/backend-leads
/src/backend/middleware/auth.middleware.ts @thinkcaring/security-team
/src/web/src/context/AuthContext.tsx @thinkcaring/security-team

# Documentation ownership rules
*.md @thinkcaring/documentation-team
/src/backend/docs/ @thinkcaring/backend-team @thinkcaring/documentation-team
/src/web/README.md @thinkcaring/frontend-team @thinkcaring/documentation-team

# Configuration files requiring careful review
package.json @thinkcaring/lead-developers
tsconfig.json @thinkcaring/lead-developers
.env.example @thinkcaring/devops-team @thinkcaring/security-team

# Test code ownership rules
/src/backend/tests/ @thinkcaring/qa-team @thinkcaring/backend-team
/src/web/src/tests/ @thinkcaring/qa-team @thinkcaring/frontend-team
/src/web/cypress/ @thinkcaring/qa-team
