Repository otunba-ola01/thinkcaring-y6iwvx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thinkcaring/lead-developers, @thinkcaring/backend-team, @thinkcaring/backend-leads, @thinkcaring/integration-specialists, @thinkcaring/frontend-team, @thinkcaring/ui-team, @thinkcaring/frontend-leads, @thinkcaring/devops-team, @thinkcaring/security-team, @thinkcaring/documentation-team, @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/backend/database/seeds/dev_data.seed.ts
  src/backend/database/seeds/dev_data.seed.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/database/seeds/index.ts
  src/backend/database/seeds/index.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/database/seeds/initial_data.seed.ts
  src/backend/database/seeds/initial_data.seed.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/database/seeds/test_data.seed.ts
  src/backend/database/seeds/test_data.seed.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/docs/index.ts
  src/backend/docs/index.ts
Owners: @thinkcaring/backend-team, @thinkcaring/documentation-team

Add public-samples/thinkcaring-y6iwvx/src/backend/docs/swagger.json
  src/backend/docs/swagger.json
Owners: @thinkcaring/backend-team, @thinkcaring/documentation-team

Add public-samples/thinkcaring-y6iwvx/src/backend/docs/swagger/auth.swagger.ts
  src/backend/docs/swagger/auth.swagger.ts
Owners: @thinkcaring/backend-team, @thinkcaring/documentation-team

Add public-samples/thinkcaring-y6iwvx/src/backend/docs/swagger/billing.swagger.ts
  src/backend/docs/swagger/billing.swagger.ts
Owners: @thinkcaring/backend-team, @thinkcaring/documentation-team

Add public-samples/thinkcaring-y6iwvx/src/backend/docs/swagger/claims.swagger.ts
  src/backend/docs/swagger/claims.swagger.ts
Owners: @thinkcaring/backend-team, @thinkcaring/documentation-team

Add public-samples/thinkcaring-y6iwvx/src/backend/docs/swagger/clients.swagger.ts
  src/backend/docs/swagger/clients.swagger.ts
Owners: @thinkcaring/backend-team, @thinkcaring/documentation-team

Add public-samples/thinkcaring-y6iwvx/src/backend/docs/swagger/payments.swagger.ts
  src/backend/docs/swagger/payments.swagger.ts
Owners: @thinkcaring/backend-team, @thinkcaring/documentation-team

Add public-samples/thinkcaring-y6iwvx/src/backend/docs/swagger/reports.swagger.ts
  src/backend/docs/swagger/reports.swagger.ts
Owners: @thinkcaring/backend-team, @thinkcaring/documentation-team

Add public-samples/thinkcaring-y6iwvx/src/backend/docs/swagger/services.swagger.ts
  src/backend/docs/swagger/services.swagger.ts
Owners: @thinkcaring/backend-team, @thinkcaring/documentation-team

Add public-samples/thinkcaring-y6iwvx/src/backend/docs/swagger/settings.swagger.ts
  src/backend/docs/swagger/settings.swagger.ts
Owners: @thinkcaring/backend-team, @thinkcaring/documentation-team

Add public-samples/thinkcaring-y6iwvx/src/backend/docs/swagger/users.swagger.ts
  src/backend/docs/swagger/users.swagger.ts
Owners: @thinkcaring/backend-team, @thinkcaring/documentation-team

Add public-samples/thinkcaring-y6iwvx/src/backend/errors/api-error.ts
  src/backend/errors/api-error.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/errors/auth-error.ts
  src/backend/errors/auth-error.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/errors/business-error.ts
  src/backend/errors/business-error.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/errors/database-error.ts
  src/backend/errors/database-error.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/errors/index.ts
  src/backend/errors/index.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/errors/integration-error.ts
  src/backend/errors/integration-error.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/errors/not-found-error.ts
  src/backend/errors/not-found-error.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/errors/permission-error.ts
  src/backend/errors/permission-error.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/errors/validation-error.ts
  src/backend/errors/validation-error.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/health/api-performance.ts
  src/backend/health/api-performance.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/health/database-health.ts
  src/backend/health/database-health.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/health/disk-usage.ts
  src/backend/health/disk-usage.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/health/health-check.ts
  src/backend/health/health-check.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/health/index.ts
  src/backend/health/index.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/health/integration-health.ts
  src/backend/health/integration-health.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/health/memory-usage.ts
  src/backend/health/memory-usage.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/health/redis-health.ts
  src/backend/health/redis-health.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/integrations/accounting.integration.ts
  src/backend/integrations/accounting.integration.ts
Owners: @thinkcaring/integration-specialists

Add public-samples/thinkcaring-y6iwvx/src/backend/integrations/clearinghouse.integration.ts
  src/backend/integrations/clearinghouse.integration.ts
Owners: @thinkcaring/integration-specialists

Add public-samples/thinkcaring-y6iwvx/src/backend/integrations/ehr.integration.ts
  src/backend/integrations/ehr.integration.ts
Owners: @thinkcaring/integration-specialists

Add public-samples/thinkcaring-y6iwvx/src/backend/integrations/index.ts
  src/backend/integrations/index.ts
Owners: @thinkcaring/integration-specialists

Add public-samples/thinkcaring-y6iwvx/src/backend/integrations/medicaid.integration.ts
  src/backend/integrations/medicaid.integration.ts
Owners: @thinkcaring/integration-specialists

Add public-samples/thinkcaring-y6iwvx/src/backend/integrations/remittance.integration.ts
  src/backend/integrations/remittance.integration.ts
Owners: @thinkcaring/integration-specialists

Add public-samples/thinkcaring-y6iwvx/src/backend/integrations/adapters/accounting.adapter.ts
  src/backend/integrations/adapters/accounting.adapter.ts
Owners: @thinkcaring/integration-specialists

Add public-samples/thinkcaring-y6iwvx/src/backend/integrations/adapters/clearinghouse.adapter.ts
  src/backend/integrations/adapters/clearinghouse.adapter.ts
Owners: @thinkcaring/integration-specialists

.github/CODEOWNERS:

# Owners will be automatically requested for review on pull requests that modify code they own.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners who will be requested for review on all pull requests
* @thinkcaring/lead-developers

# Backend code ownership rules, with specialized teams for services and integrations
/src/backend/ @thinkcaring/backend-team
/src/backend/services/ @thinkcaring/backend-leads
/src/backend/integrations/ @thinkcaring/integration-specialists

# Frontend code ownership rules, with specialized teams for UI components and pages
/src/web/ @thinkcaring/frontend-team
/src/web/src/components/ @thinkcaring/ui-team
/src/web/src/pages/ @thinkcaring/frontend-leads

# Infrastructure and CI/CD pipeline ownership rules
/infrastructure/ @thinkcaring/devops-team
/.github/workflows/ @thinkcaring/devops-team
/docker-compose.yml @thinkcaring/devops-team

# Security-sensitive code requiring specialized review
/src/backend/security/ @thinkcaring/security-team @thinkcaring/backend-leads
/src/backend/middleware/auth.middleware.ts @thinkcaring/security-team
/src/web/src/context/AuthContext.tsx @thinkcaring/security-team

# Documentation ownership rules
*.md @thinkcaring/documentation-team
/src/backend/docs/ @thinkcaring/backend-team @thinkcaring/documentation-team
/src/web/README.md @thinkcaring/frontend-team @thinkcaring/documentation-team

# Configuration files requiring careful review
package.json @thinkcaring/lead-developers
tsconfig.json @thinkcaring/lead-developers
.env.example @thinkcaring/devops-team @thinkcaring/security-team

# Test code ownership rules
/src/backend/tests/ @thinkcaring/qa-team @thinkcaring/backend-team
/src/web/src/tests/ @thinkcaring/qa-team @thinkcaring/frontend-team
/src/web/cypress/ @thinkcaring/qa-team
