Repository otunba-ola01/thinkcaring-y6iwvx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thinkcaring/lead-developers, @thinkcaring/backend-team, @thinkcaring/backend-leads, @thinkcaring/integration-specialists, @thinkcaring/frontend-team, @thinkcaring/ui-team, @thinkcaring/frontend-leads, @thinkcaring/devops-team, @thinkcaring/security-team, @thinkcaring/documentation-team, @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/backend/validation/schemas/payment.schema.ts
  src/backend/validation/schemas/payment.schema.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/validation/schemas/report.schema.ts
  src/backend/validation/schemas/report.schema.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/validation/schemas/service.schema.ts
  src/backend/validation/schemas/service.schema.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/validation/schemas/user.schema.ts
  src/backend/validation/schemas/user.schema.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/workflows/authorization-management.workflow.ts
  src/backend/workflows/authorization-management.workflow.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/workflows/claim-denial.workflow.ts
  src/backend/workflows/claim-denial.workflow.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/workflows/claim-processing.workflow.ts
  src/backend/workflows/claim-processing.workflow.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/workflows/index.ts
  src/backend/workflows/index.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/workflows/payment-adjustment.workflow.ts
  src/backend/workflows/payment-adjustment.workflow.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/workflows/payment-reconciliation.workflow.ts
  src/backend/workflows/payment-reconciliation.workflow.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/backend/workflows/service-to-billing.workflow.ts
  src/backend/workflows/service-to-billing.workflow.ts
Owners: @thinkcaring/backend-team

Add public-samples/thinkcaring-y6iwvx/src/web/.env.example
  src/web/.env.example
Owners: @thinkcaring/devops-team, @thinkcaring/security-team

Add public-samples/thinkcaring-y6iwvx/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/README.md
  src/web/README.md
Owners: @thinkcaring/frontend-team, @thinkcaring/documentation-team

Add public-samples/thinkcaring-y6iwvx/src/web/jest.config.js
  src/web/jest.config.js
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/next-env.d.ts
  src/web/next-env.d.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/next.config.js
  src/web/next.config.js
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/package.json
  src/web/package.json
Owners: @thinkcaring/lead-developers

Add public-samples/thinkcaring-y6iwvx/src/web/postcss.config.js
  src/web/postcss.config.js
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @thinkcaring/lead-developers

Add public-samples/thinkcaring-y6iwvx/src/web/cypress/tsconfig.json
  src/web/cypress/tsconfig.json
Owners: @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/web/cypress/fixtures/claims.json
  src/web/cypress/fixtures/claims.json
Owners: @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/web/cypress/fixtures/clients.json
  src/web/cypress/fixtures/clients.json
Owners: @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/web/cypress/fixtures/payments.json
  src/web/cypress/fixtures/payments.json
Owners: @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/web/cypress/fixtures/reports.json
  src/web/cypress/fixtures/reports.json
Owners: @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/web/cypress/fixtures/services.json
  src/web/cypress/fixtures/services.json
Owners: @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/web/cypress/fixtures/users.json
  src/web/cypress/fixtures/users.json
Owners: @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/web/cypress/integration/auth.spec.ts
  src/web/cypress/integration/auth.spec.ts
Owners: @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/web/cypress/integration/billing.spec.ts
  src/web/cypress/integration/billing.spec.ts
Owners: @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/web/cypress/integration/claims.spec.ts
  src/web/cypress/integration/claims.spec.ts
Owners: @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/web/cypress/integration/dashboard.spec.ts
  src/web/cypress/integration/dashboard.spec.ts
Owners: @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/web/cypress/integration/payments.spec.ts
  src/web/cypress/integration/payments.spec.ts
Owners: @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/web/cypress/integration/reports.spec.ts
  src/web/cypress/integration/reports.spec.ts
Owners: @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/web/cypress/plugins/index.ts
  src/web/cypress/plugins/index.ts
Owners: @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/web/cypress/support/commands.ts
  src/web/cypress/support/commands.ts
Owners: @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/web/cypress/support/index.ts
  src/web/cypress/support/index.ts
Owners: @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/api/auth.api.ts
  src/web/src/api/auth.api.ts
Owners: @thinkcaring/frontend-team

Add public-samples/thinkcaring-y6iwvx/src/web/src/api/billing.api.ts
  src/web/src/api/billing.api.ts
Owners: @thinkcaring/frontend-team

.github/CODEOWNERS:

# Owners will be automatically requested for review on pull requests that modify code they own.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners who will be requested for review on all pull requests
* @thinkcaring/lead-developers

# Backend code ownership rules, with specialized teams for services and integrations
/src/backend/ @thinkcaring/backend-team
/src/backend/services/ @thinkcaring/backend-leads
/src/backend/integrations/ @thinkcaring/integration-specialists

# Frontend code ownership rules, with specialized teams for UI components and pages
/src/web/ @thinkcaring/frontend-team
/src/web/src/components/ @thinkcaring/ui-team
/src/web/src/pages/ @thinkcaring/frontend-leads

# Infrastructure and CI/CD pipeline ownership rules
/infrastructure/ @thinkcaring/devops-team
/.github/workflows/ @thinkcaring/devops-team
/docker-compose.yml @thinkcaring/devops-team

# Security-sensitive code requiring specialized review
/src/backend/security/ @thinkcaring/security-team @thinkcaring/backend-leads
/src/backend/middleware/auth.middleware.ts @thinkcaring/security-team
/src/web/src/context/AuthContext.tsx @thinkcaring/security-team

# Documentation ownership rules
*.md @thinkcaring/documentation-team
/src/backend/docs/ @thinkcaring/backend-team @thinkcaring/documentation-team
/src/web/README.md @thinkcaring/frontend-team @thinkcaring/documentation-team

# Configuration files requiring careful review
package.json @thinkcaring/lead-developers
tsconfig.json @thinkcaring/lead-developers
.env.example @thinkcaring/devops-team @thinkcaring/security-team

# Test code ownership rules
/src/backend/tests/ @thinkcaring/qa-team @thinkcaring/backend-team
/src/web/src/tests/ @thinkcaring/qa-team @thinkcaring/frontend-team
/src/web/cypress/ @thinkcaring/qa-team
