Repository otunba-ola01/thinkcaring-y6iwvx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thinkcaring/lead-developers, @thinkcaring/backend-team, @thinkcaring/backend-leads, @thinkcaring/integration-specialists, @thinkcaring/frontend-team, @thinkcaring/ui-team, @thinkcaring/frontend-leads, @thinkcaring/devops-team, @thinkcaring/security-team, @thinkcaring/documentation-team, @thinkcaring/qa-team

Add public-samples/thinkcaring-y6iwvx/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @thinkcaring/documentation-team

Add public-samples/thinkcaring-y6iwvx/.github/dependabot.yml
  .github/dependabot.yml
Owners: @thinkcaring/lead-developers

Add public-samples/thinkcaring-y6iwvx/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @thinkcaring/documentation-team

Add public-samples/thinkcaring-y6iwvx/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @thinkcaring/documentation-team

Add public-samples/thinkcaring-y6iwvx/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/.github/workflows/deploy.yml
  .github/workflows/deploy.yml
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/.github/workflows/web-ci.yml
  .github/workflows/web-ci.yml
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @thinkcaring/documentation-team

Add public-samples/thinkcaring-y6iwvx/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @thinkcaring/documentation-team

Add public-samples/thinkcaring-y6iwvx/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @thinkcaring/documentation-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/docker/.dockerignore
  infrastructure/docker/.dockerignore
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/docker/docker-compose.yml
  infrastructure/docker/docker-compose.yml
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/docker/backend/Dockerfile
  infrastructure/docker/backend/Dockerfile
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/docker/proxy/Dockerfile
  infrastructure/docker/proxy/Dockerfile
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/docker/proxy/nginx.conf
  infrastructure/docker/proxy/nginx.conf
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/docker/web/Dockerfile
  infrastructure/docker/web/Dockerfile
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/kubernetes/manifests/backend/configmap.yaml
  infrastructure/kubernetes/manifests/backend/configmap.yaml
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/kubernetes/manifests/backend/deployment.yaml
  infrastructure/kubernetes/manifests/backend/deployment.yaml
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/kubernetes/manifests/backend/ingress.yaml
  infrastructure/kubernetes/manifests/backend/ingress.yaml
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/kubernetes/manifests/backend/secret.yaml
  infrastructure/kubernetes/manifests/backend/secret.yaml
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/kubernetes/manifests/backend/service.yaml
  infrastructure/kubernetes/manifests/backend/service.yaml
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/kubernetes/manifests/common/namespace.yaml
  infrastructure/kubernetes/manifests/common/namespace.yaml
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/kubernetes/manifests/monitoring/alertmanager.yaml
  infrastructure/kubernetes/manifests/monitoring/alertmanager.yaml
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/kubernetes/manifests/monitoring/grafana.yaml
  infrastructure/kubernetes/manifests/monitoring/grafana.yaml
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/kubernetes/manifests/monitoring/loki.yaml
  infrastructure/kubernetes/manifests/monitoring/loki.yaml
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/kubernetes/manifests/monitoring/prometheus.yaml
  infrastructure/kubernetes/manifests/monitoring/prometheus.yaml
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/kubernetes/manifests/redis/service.yaml
  infrastructure/kubernetes/manifests/redis/service.yaml
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/kubernetes/manifests/redis/statefulset.yaml
  infrastructure/kubernetes/manifests/redis/statefulset.yaml
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/kubernetes/manifests/web/configmap.yaml
  infrastructure/kubernetes/manifests/web/configmap.yaml
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/kubernetes/manifests/web/deployment.yaml
  infrastructure/kubernetes/manifests/web/deployment.yaml
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/kubernetes/manifests/web/ingress.yaml
  infrastructure/kubernetes/manifests/web/ingress.yaml
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/kubernetes/manifests/web/service.yaml
  infrastructure/kubernetes/manifests/web/service.yaml
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/scripts/database-backup.sh
  infrastructure/scripts/database-backup.sh
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/scripts/database-restore.sh
  infrastructure/scripts/database-restore.sh
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/scripts/generate-secrets.sh
  infrastructure/scripts/generate-secrets.sh
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @thinkcaring/devops-team

Add public-samples/thinkcaring-y6iwvx/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @thinkcaring/devops-team

.github/CODEOWNERS:

# Owners will be automatically requested for review on pull requests that modify code they own.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners who will be requested for review on all pull requests
* @thinkcaring/lead-developers

# Backend code ownership rules, with specialized teams for services and integrations
/src/backend/ @thinkcaring/backend-team
/src/backend/services/ @thinkcaring/backend-leads
/src/backend/integrations/ @thinkcaring/integration-specialists

# Frontend code ownership rules, with specialized teams for UI components and pages
/src/web/ @thinkcaring/frontend-team
/src/web/src/components/ @thinkcaring/ui-team
/src/web/src/pages/ @thinkcaring/frontend-leads

# Infrastructure and CI/CD pipeline ownership rules
/infrastructure/ @thinkcaring/devops-team
/.github/workflows/ @thinkcaring/devops-team
/docker-compose.yml @thinkcaring/devops-team

# Security-sensitive code requiring specialized review
/src/backend/security/ @thinkcaring/security-team @thinkcaring/backend-leads
/src/backend/middleware/auth.middleware.ts @thinkcaring/security-team
/src/web/src/context/AuthContext.tsx @thinkcaring/security-team

# Documentation ownership rules
*.md @thinkcaring/documentation-team
/src/backend/docs/ @thinkcaring/backend-team @thinkcaring/documentation-team
/src/web/README.md @thinkcaring/frontend-team @thinkcaring/documentation-team

# Configuration files requiring careful review
package.json @thinkcaring/lead-developers
tsconfig.json @thinkcaring/lead-developers
.env.example @thinkcaring/devops-team @thinkcaring/security-team

# Test code ownership rules
/src/backend/tests/ @thinkcaring/qa-team @thinkcaring/backend-team
/src/web/src/tests/ @thinkcaring/qa-team @thinkcaring/frontend-team
/src/web/cypress/ @thinkcaring/qa-team
